.ant-btn-primary{
    width: 100px;
    height: 40px;
}
.ant-breadcrumb {
    height: 40px;
    line-height: 40px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 0 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.ant-input-group-wrapper{
    width: 120px;
    height: 40px;
.ant-input-affix-wrapper{
    width: 120px;
    height: 40px;

}
.ant-input-group-addon{
    width: 100px;
    background-color: transparent;
    ant-input-search-button{
        margin-left: 0!important;
        padding-left: 0!important;
    }
}
}

.btn1{
    margin-left: 120px;
}
.btn2{
    margin-left: 20px;

}