@import '../../common/sass/vw.scss';

// .am-navbar {
//     .am-navbar-right {
//         color: #ff5151;

//     }
//     .am-navbar-left {
//         color: #ff5151;
//     }
// }

.navBar {
    height: vw(50);
    width: vw(375);
    background: #fff;
    ;

    ul {
        height: vw(50);
        width: vw(375);
        display: flex;
        justify-content: space-between;

        li {
            width: vw(125);
            height: vw(50);
            line-height: vw(50);
            font-size: 18px;

            .am-icon-left {
                margin-top: vw(8);
                padding-left: vw(8);
                font-weight: bold;
            }
        }

        li:nth-child(1) {
            display: flex;
            font-size: 16px;
            color: #ff5151;
        }

        li:nth-child(3) {
            width: vw(125);
            font-size: 16px;
            color: #ff5151;
            text-align: right;
            padding-right: vw(16);
            box-sizing: border-box;
        }
    }

}

.forms {
    background: #F5F5F5;
    width: vw(375);
    height: vw(180);
    margin-top: vw(16);

    .phone {
        input {
            background: #fff;
            width: vw(375);
            height: vw(44);
            padding: vw(10) vw(16);
            line-height: 24px;
            font-size: 16px;
            color: #333;
            border-bottom: vw(1) solid #F5F5F5;
            box-sizing: border-box;
        }

        input:focus {
            border: vw(1) solid rgb(219, 169, 3);
            box-sizing: border-box;
        }
    }


    .password {
        input {

            background: #fff;
            width: vw(375);
            height: vw(44);
            line-height: 24px;
            padding: vw(10) vw(16);
            font-size: 16px;
            color: #333;
            box-sizing: border-box;
        }

        input:focus {
            border: vw(1) solid rgb(219, 169, 3);
            box-sizing: border-box;
        }

    }

    .check {
        width: vw(375);
        height: vw(30);
        font-size: vw(14);
        color: #666;
        text-align: left;
        line-height: vw(30);
        padding-top: vw(10);
        margin-left: vw(20);

    }


    .btn {
        button {
            width: vw(375);
            height: vw(44);
            width: 90%;
            background: #ff5151;
            color: #fff;
            line-height: 44px;
            margin: vw(16) auto 0px;
            border-radius: 2px;
            text-align: center;
            font-size: 16px;
            display: block;
            border: none;
        }

    }

}

.ant-form .ant-btn-primary {
    width: 80%;
    height: vw(40);
    background: #ff5151;
    border-color: #ff5151;
    color: #fff;
    margin-left: 10%;

}

.ant-btn-primary:active {
    background: #ff5151;
    border-color: #ff5151;
    color: #fff;
}

.ant-btn-primary::after {
    background: #ff5151;
    border-color: #ff5151;
    color: #fff;
}

.ant-btn:hover,
.ant-btn:focus {
    background: #ff5151;
    border-color: #ff5151;
    color: #fff;
}

#basic_username {
    height: vw(38);

}

.ant-input:hover {
    border-color: #ff5151;
}

.ant-input-affix-wrapper {
    height: vw(38);
}


html {
    --antd-wave-shadow-color: #ff5151;
    ;
}


.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper::selection,
.ant-input-affix-wrapper::before {
    border-color: #ff5151;
    outline: none;
}

.ant-form-item-required::before {
    font-size: 16px;
}

.ant-form .ant-form-item-label {
    width: 20%;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
    border-color: #ff5151;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
    background-color: #ff5151;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ff5151;
    border-color: #ff5151;
}

.ant-checkbox-checked::after {
    border: 1px solid #ff5151;
}

// .ant-row,
// .ant-form-item-has-success {
//     margin-left: 10%;
//     margin-right: 10%;
// }