.placeholder {
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    height: 148px;
    padding: 10px 0 20px 0;
    line-height: 30px;
    width: 100%;
  }
  .menu-top{
      height: 12vw;
     
      line-height: 12vw;
     b{
          font-size: 7vw;
          float: left;
          color: black;

      }
      .caipu{
          font-size: 4vw;
          float: right;
      }
  }
  .menu-bottom{
      height: 104px;
      background-color: blue;
      display: flex;
      .pic{
          flex: 1;
          margin-right:10px ;
      img{
          height: 100%;
          width: 100%;
      }
        }
  }
  