.placeholder {
    background-color:white;
    color: #bbb;
   
    height: 148px;
    line-height: 30px;
    width: 100%;
    padding-bottom: 20px;

  }
  .title{
    height: 44px;
    line-height: 44px;
    padding-top: 10px;
    padding: 10px 10px 0 10px;
  }
  .title b{
  
    
    font-size: 18px;
    font-weight: 600;
    color: #000000;

    float: left;
  }
  .am{
      float: right;
  }
  .menu-pic{
    height:28vw;

    padding: 0 3vw;
    display: flex;
  }
  .pic{
    flex: 1;
    background: lightcoral;
    margin-right: 2vw;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .ma-no{
    margin: 0;
  }
