@import '../../common/sass/vw.scss';

.am-navbar {
    .am-navbar-right {
        color: #ff5151;
    }

    .am-navbar-left {
        color: #ff5151;
        font-size: 15px;
        padding: 0;
        line-height: vw(45);
    }

    .am-navbar-title {
        font-size: 16px;
        font-weight: bold;
    }
}