@import "../../common/sass/vw.scss";

.am-navbar{
    width: 100%;
    height: 60px!important;
    padding: vw(15),0;
    display: flex;
    justify-content: space-between;
 .am-navbar-left{
    width:34px;
    padding-left: 0;
    .image {
        width: vw(78);
        height: vw(40);
    }
}
.am-navbar-title {
    flex: 3.5;
    .am-search{
        width: 100%;
        background-color: #fff;
        padding: 0;
        .am-search-input{
            height: vw(40);
            line-height: vw(40);
            background-color: #efeff4;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        .am-search-synthetic-ph{
            line-height: vw(40);
            color: #fff;
        }    
        .am-search-value{
            padding-right: 0 !important;
            height: vw(40);
            padding-left: vw(32);
            // background-color: transparent;
        }
    }
    .am-search-cancel{
        padding-left: 0;
        background: #fe552f;
        color: #fff;
        text-align: center;
        font-size: 15px;
        border: 0px;
        width: 24%;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        cursor: pointer;
    }
    }
}
.am-navbar-right {
   margin-right: 0;
   button{
    height: 40px;
    width: 40px;
    text-align: center;
    color: #fe552f;
    background: #fcefec;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    margin-right: 15px;
    border: none;
    padding-bottom: 5px;
   }
}
}